{% extends 'base.html.twig' %}

{% block title %} Articles par categorie
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class='text-center'>{{ category }}</h1>
    </div>
    {% for objet in category.objets %}
    <div class="card" style="width: 18rem;">
        <img src="{{ objet.thumbnail }}" class="card-img-top" alt="img">
        <div class="card-body container">
            <h5 class="card-title"style="text-transform:uppercase">{{ objet.name }}</h5>
            <p class="card-text">{{ objet.description }}</p>

            <a href="#" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}